#   Folders   #
###############

.settings/
allure-results/
*test-output/
*target/
out/
appium/
apps/
screenshots/
trafficlogs/
failedRequests/
*.log*/
tmp-*/
/classes/
/trafficlogs/
ReportPortal/
temp/

#    Files    #
###############
*.classpath
*.log
*.har
*.png
*log_soap.txt
*.zip
.project
/local.properties
test.properties

#     IDEA    #
###############
*.iws
*.metadata*
*.ipr
.idea
.idea/workspace.xml
.idea/tasks.xml
/out/


#    Gradle   #
###############
.gradle
*build/
.idea/gradle.xml
.idea/libraries

#    JSON_schema   #
###############
*JSON_schema.json
module_locale_hash.temp

#   Windows files   #
###############
Thumbs.db
ehthumbs.db
*.cab
*.msi
*.msm
*.msp
*.lnk

#   Java   #
###############
*.class
